<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
 <link rel="stylesheet" type="text/css" href="/style.css">
 <link href="https://fonts.googleapis.com/css?family=Kreon" rel="stylesheet">
</head>
<body>
<div class = "box">
  <p><a href="/students">Student Directory</a></p>
  <p><a href="/students/new">Add Student</a></p>
  <%=yield%>
</div>
</body>
</html>